
body{
    margin: 0;
    text-align: center;
}


/***************** class ***************/

.Top{
    background-color: #CCF3EE;
}

.Middle{
    background-color: red;
    border: solid 20px;
    width: 200px;
    height: 200px;
}

.Bottom{
    background-color: blue;
    border: solid 10px;
    width: 200px;
    height: 200px;
}

