
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}


/***************** class ***************/

.Top{
    background-color: #CCF3EE;
    position: relative;
    padding-top: 100px ;
}

.Middle{
    background-color: red;
    width: 200px;
    height: 200px;
}

.Bottom{
    background-color: blue;
    width: 200px;
    height: 200px;
}

.Bottom-cloud{
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.Top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
