
body{
    margin: 0;
    text-align: center;
}


/***************** class ***************/

.Top{
    background-color: #CCF3EE;
    position: relative;
    padding-top: 100px ;
}

.Middle{
    background-color: red;
    border: solid 20px;
    width: 200px;
    height: 200px;
}

.Bottom{
    background-color: blue;
    border: solid 10px;
    width: 200px;
    height: 200px;
}

.Bottom-cloud{
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.Top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
